#upper-header {
  background-color: #f0f0f0;
  white-space: nowrap;
  text-transform: uppercase;
  border-bottom: 1px solid gray;
  font-size: 90%;
  height: 18px;
  line-height: 18px;
}

#header {
  border-bottom: 1px solid #5f99cf;
  position: relative;
  background-color: #cee3f8;
  z-index: 99;
}

.dropdown {
  float: left;
  padding-left: 5px;
}

#content {
  margin-left: 6px;
}
