<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link hot" href="#">hot</a>
  </li>
  <li class="nav-item">
    <a class="nav-link new" href="#">new</a>
  </li>
  <li class="nav-item">
    <a class="nav-link rising" href="#">controversial</a>
  </li>
  <li class="nav-item">
    <a class="nav-link controversial" href="#">controversial</a>
  </li>
  <li class="nav-item">
    <a class="nav-link top" href="#">top</a>
  </li>
  <li class="nav-item">
    <a class="nav-link gilded" href="#">gilded</a>
  </li>
  <li class="nav-item">
    <a class="nav-link wiki" href="#">wiki</a>
  </li>
</ul>
